@model IEnumerable<MvcTemplate.Dtos.UsersDto>
@{
    ViewBag.Title = "GetUserslist";
    Layout = "~/Areas/UserArea/Views/Shared/_UserLayout.cshtml";
}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Data Table</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Agroxa</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Tables</a></li>
                            <li class="breadcrumb-item active">Data Table</li>
                        </ol>

                        @*<div class="state-information d-none d-sm-block">
                                <div class="state-graph">
                                    <div id="header-chart-1"></div>
                                    <div class="info">Balance $ 2,317</div>
                                </div>
                                <div class="state-graph">
                                    <div id="header-chart-2"></div>
                                    <div class="info">Item Sold 1230</div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="page-content-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-20">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Default Datatable</h4>
                                <p class="text-muted m-b-30">
                                    DataTables has most features enabled by
                                    default, so all you need to do to use it with your own tables is to call
                                    the construction function: <code>$().DataTable();</code>.
                                </p>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Password</th>
                                            <th>Cnic</th>
                                            <th>Address</th>
                                            <th>Email</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Password
                                            </td>
                                            <td>
                                                @item.Cnic
                                            </td>
                                            <td>
                                                @item.Address
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>

                                            <td>
                                                <a href="/UserArea/Users/CreateUsers?id=@item.Id" class="btn btn-info">Update</a>
                                                <a href="/UserArea/Users/Remove?Id=@item.Id" class="btn btn-danger" >Delete</a>
                                               
                                            </td>
                                        </tr>

                                    }


                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->

                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-20">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Buttons example</h4>
                                <p class="text-muted m-b-30">
                                    The Buttons extension for DataTables
                                    provides a common set of options, API methods and styling to display
                                    buttons on a page that will interact with a DataTable. The core library
                                    provides the based framework upon which plug-ins can built.
                                </p>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->

            </div>
            <!-- end page content-->

        </div> <!-- container-fluid -->

    </div> <!-- content -->


</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
<!-- Required datatable js -->
<script src="~/Assets/assets/js/jquery.min.js"></script>
<script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>
